*~
*.o
*.opp
*.ko
*.data
*.power
cargo
svd-mmap
*.tar
*.cmd
test/.built-in.o.cmd
test/.svd.ko.cmd
test/.svd.mod.o.cmd
test/.svd.o.cmd
test/.tmp_versions/
test/Module.symvers
test/svd.mod.c
test/modules.order
*inout/
